/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.menu {
  color: #8B0000;
}

.menu-header {
    padding: 20px;
    border-radius: 10px;
}

.restaurant-logo {
    width: 300px;
    height: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.menu-item {
  flex: 1 1 calc(25% - 40px); 
}

.menu-title {
   font-family: 'Kaushan Script';
}

.menu-header {
  font-family: 'Kaushan Script';
  color: #8B0000;
  font-size: 2.5rem;
}

.menu-desc {
  font-family: 'Merienda', sans-serif;
  font-size: 1.2rem;
  color: #403e3e;
}
button.custom-button {
  background-color: #8B0000; 
  color: white; 
}

button.custom-button:hover {
  background-color: #d3998e; 
}
.menu-item-img {
  width: 75px;
  height: 75px;
  border-radius: 8px;
  object-fit: cover;
}


.btn {
  font-size: 1rem;
  padding: 5px 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}
.text-muted {
  font-size: 14px;
  color: #6c757d !important;
}

 .small-btn {
  font-size: 12px;
  padding: 2px 6px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
